# <span style="color:red"> <span  style="font-family:Times New Roman"> *Importing libraries* </span> </span></b>

In [157]:
import pandas as pd
import numpy as np

# <b><span style="color:red"> <span  style="font-family:Times New Roman"> *_Importing Data_* </span> </span></b>

## <span style="color:blue"> *Table 1*</span>

In [158]:
tache_1=pd.read_csv("NE_CP_Br_A.csv")
print(tache_1.dtypes)
print(tache_1.shape)
tache_1

NE     int64
CP     int64
Br     int64
A     object
dtype: object
(759, 4)

          NE      CP  Br    A
0     600122   71010  13  NaN
1     600586   72021  13  NaN
2     600586   72025  13  NaN
3     600586   72026  13  NaN
4     600470   81222  14  NaN
..       ...     ...  ..  ...
754   497791  329954  36    H
755   575905  331510  35    B
756  1633152  331510  35    B
757  1534159  331910  28    H
758   600719  351110  40  NaN

[759 rows x 4 columns]

## <span style="color:blue"> *Table 2*</span>

In [159]:
tache_22=pd.read_csv('TAB1_2022Janvier_10_06_2022__11_42_26.csv')
tache_2=tache_22.drop(columns=["Unnamed: 8",  "Unnamed: 9","Unnamed: 10",  "Unnamed: 11", "Unnamed: 12"])
tache_2=tache_2.drop(index=[0,1,2])
tache_2.columns = list(tache_2.loc[3])
tache_2=tache_2.drop(index=[3])
tache_2

,Code,Libellé,Pondération,Im - 12,Im - 1,Im,Vm/m-12,Vm/m-1
4,239111,MEULES ET ARTICLES SIMILAIRES POUR LE TRAVAIL ...,0.5258,163.265,167.347,167.347,2.5,0
5,239112,ABRASIFS APPLIQUES SUR SUPPORT,0.4742,102.545,68.364,48.727,-52.482,-28.724
6,239913,BITUMES,0.9991,64.449,132.937,47.338,-26.55,-64.391
7,239914,MEMBRANE D'ETANCHEITE,0.0009,180.713,120.889,180.713,0,49.487
8,241011,FONTE ET ACIER,0.0001,74.965,102.975,76.193,1.638,-26.008
...,...,...,...,...,...,...,...,...
345,236112,ELEMENTS PREFABRIQUES EN BETON POUR LA CONSTRU...,0.6796,172.978,31.061,173.08,0.059,457.226
346,236120,CONSTRUCTIONS PREFABRIQUEES EN BETON,0.0006,138.873,161.355,157.6,13.485,-2.327
347,236919,TUYAUX EN BETON,1,95.101,125.65,92.839,-2.379,-26.113
348,237011,OUVRAGES EN MARBRE OU EN TRAVERTIN,0.9022,96.94,127.809,88.516,-8.69,-30.744
349,237012,PRODUITS MINERAUX NON METALLIQUES DIVERS,0.0978,126.101,126.863,125.895,-0.163,-0.763

## <span style="color:orange"> Operations on table 2  </span>

In [160]:
tache_2[["Code","Pondération","Im - 12","Im - 1","Im","Vm/m-12","Vm/m-1"]] = tache_2[["Code","Pondération","Im - 12","Im - 1","Im","Vm/m-12","Vm/m-1"]].apply(pd.to_numeric)
print(tache_2.dtypes)
print(tache_2.shape)
tache_2

Code             int64
Libellé         object
Pondération    float64
Im - 12        float64
Im - 1         float64
Im             float64
Vm/m-12        float64
Vm/m-1         float64
dtype: object
(346, 8)

,Code,Libellé,Pondération,Im - 12,Im - 1,Im,Vm/m-12,Vm/m-1
4,239111,MEULES ET ARTICLES SIMILAIRES POUR LE TRAVAIL ...,0.5258,163.265,167.347,167.347,2.500,0.000
5,239112,ABRASIFS APPLIQUES SUR SUPPORT,0.4742,102.545,68.364,48.727,-52.482,-28.724
6,239913,BITUMES,0.9991,64.449,132.937,47.338,-26.550,-64.391
7,239914,MEMBRANE D'ETANCHEITE,0.0009,180.713,120.889,180.713,0.000,49.487
8,241011,FONTE ET ACIER,0.0001,74.965,102.975,76.193,1.638,-26.008
...,...,...,...,...,...,...,...,...
345,236112,ELEMENTS PREFABRIQUES EN BETON POUR LA CONSTRU...,0.6796,172.978,31.061,173.080,0.059,457.226
346,236120,CONSTRUCTIONS PREFABRIQUEES EN BETON,0.0006,138.873,161.355,157.600,13.485,-2.327
347,236919,TUYAUX EN BETON,1.0000,95.101,125.650,92.839,-2.379,-26.113
348,237011,OUVRAGES EN MARBRE OU EN TRAVERTIN,0.9022,96.940,127.809,88.516,-8.690,-30.744
349,237012,PRODUITS MINERAUX NON METALLIQUES DIVERS,0.0978,126.101,126.863,125.895,-0.163,-0.763

# <span style="color:red"> <span  style="font-family:Times New Roman"> *Joining Tables* </span> </span></b>

In [161]:
tab_2=tache_1.merge(tache_2, left_on='CP', right_on='Code', how='left').reindex(tache_2.index)
tab_2=tab_2.drop(columns='CP')
tab_2 = tab_2[["Code","NE","Br","A","Libellé","Pondération","Im - 12","Im - 1","Im","Vm/m-12","Vm/m-1"]]
tab_2.reset_index()
tab_2.index_col=0
tab_2

,Code,NE,Br,A,Libellé,Pondération,Im - 12,Im - 1,Im,Vm/m-12,Vm/m-1
4,81222,600470,14,NaN,ARGILES SMECTIQUES,0.3603,123.794,85.691,129.663,4.741,51.315
5,81223,600470,14,NaN,BENTONITE,0.5187,113.227,85.296,115.574,2.073,35.498
6,81224,600470,14,NaN,GHASSOUL,0.1209,113.793,94.253,118.391,4.041,25.610
7,82010,600354,14,NaN,PHOSPHATE,1.0000,130.699,153.449,124.029,-5.103,-19.172
8,89119,600470,14,NaN,BARYTINE,0.8252,115.579,165.946,119.525,3.414,-27.974
...,...,...,...,...,...,...,...,...,...,...,...
345,162311,100001,20,H,PORTES ET FENETRES EN BOIS,0.9231,75.630,68.358,75.630,0.000,10.638
346,162311,661739,20,H,PORTES ET FENETRES EN BOIS,0.9231,75.630,68.358,75.630,0.000,10.638
347,162311,819331,20,H,PORTES ET FENETRES EN BOIS,0.9231,75.630,68.358,75.630,0.000,10.638
348,162311,1083985,20,H,PORTES ET FENETRES EN BOIS,0.9231,75.630,68.358,75.630,0.000,10.638
349,162311,1578448,20,H,PORTES ET FENETRES EN BOIS,0.9231,75.630,68.358,75.630,0.000,10.638

# <span style="color:red"> <span  style="font-family:Times New Roman"> *Exploring Data* </span> </span></b>

In [162]:
tab_2_F=tab_1.to_excel('Exemple_F_TAB1_2022Janvier_10_06_2022__11_42_26.xlsx',encoding="utf-8",engine="xlsxwriter",index=False)
tab_2_F